.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem;
  background-color: #0a0a0a;
  color: #00ffcc;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  border: 2px solid #00ffcc;
  border-radius: 15px;
  box-shadow: 0 0 20px #00ffcc, inset 0 0 10px #00ffcc;
  margin: 2rem;
  min-height: 400px;
}

.main {
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-shadow: 0 0 5px #00ffcc;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 800px;
  color: #cccccc;
  text-shadow: 0 0 5px #00ffcc;
}

.glowEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 50px #00ffcc, inset 0 0 20px #00ffcc;
  pointer-events: none;
  z-index: -1;
}

.astronaut {
  position: absolute;
  width: 100px;
  transition: left 2s ease-in-out, top 2s ease-in-out;
}

.hello {
  position: relative;
  justify-content: space-between;
}

.AstroSaheeb-parent {
  position: relative;
  width: 100%;
  height: 500px;  /* Adjust the height to fit your image size */
  display: flex;
  justify-content: center;
  align-items: center;
}

.robotImage {
  position: absolute;
  width: 100%;  /* Adjust the size of the robot image */
  z-index: 1;
  object-fit: contain;
  top:-10%;
}

.aboutText {
  position: absolute;
  z-index: -1;  /* Make sure the text is on top of the robot */
  top: 100%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  border-radius: 10px;
  width : 40%;
}

.aboutText .title {
  font-size: 2rem;
  font-weight: bold;
}

.aboutText .subtitle {
  font-size: 1.2rem;
}

.aboutText .description {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
  color: #ffffff;
}
