
  .hero-section {
    position: relative;
    margin-top:4%;
    padding: 0;
    width: 100%;
    aspect-ratio: 2046/1081;
    overflow: hidden;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    background-color: #221b36;
  }
  .AstroPov {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  #canvasAstroPov {
    width: 100%;
    height: 100%;
    
  }
  .Logo {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #canvasLogo {
    width: 100%;
    height: 100%;
  
  }
  @media (max-width:770px){
      .hero-section {
          position: relative;
          margin-top:10%;          padding: 0;
          width: 100%;
          height: 50vh;
          overflow: hidden;
        }
        .AstroPov{
          background-color: transparent;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
        #canvasAstroPov {
          position: sticky;
          width: 180%;
          height: 180%;
          transform: translateY(-23%) translateX(-22%);
        }
        .Logo {
          display: flex;
          justify-content: center;
          z-index: 4;
          pointer-events: none;
          position: absolute;
          width: 100%;
          height: 100%;
        }
        #canvasLogo {
          position: relative;
          width: 70%;
          height: 70%;
          top:10%;
        }
  }