@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
#canvasSolarSystemAlignment{
    transform: translateY(-50%) translateX(-22%);
    width:  180%;
}
.homepage-container{
    width: 100%;
    height: 100%;
}
.backgroundStars{
    position: fixed;
    width: auto;
    height: 140%;
    top: 0%;
    z-index: -2;
    left:-15%
}
@media(max-width:770px){
    .backgroundStars{
        position: fixed;
        width: auto;
        height: 100%;
        top: 0%;
        left:-100%;
        z-index: -2;
    }
}
.SolarSystemBackground{
    z-index: -1;
    position: fixed;
    width: 100%;
}
@media(min-width:770px){
    #canvasSolarSystemAlignment{
        transform: translateY(-125%) translateX(7%);
        width:  90%;
    }
    .SolarSystemBackground{
        z-index: -1;
        position: fixed;
        width: 100%;
    }
}
.co1{
    justify-content: center;
    z-index: 10;
    position: relative;
    border: 4px solid rgba(0, 255, 255, 0.5);
    /* Cyan colored boundary with transparency */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    /* Cyan glowing border effect */
    margin: 20px 0;

}
.name{
    
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: #33e7e7;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 20px #33e7e7, 0 0 30px rgba(255, 255, 255, 0.5);
  margin: 0;
  letter-spacing: 3px;
  background: linear-gradient(45deg, #33e7e7);
  padding: 10px 20px;
  border-radius: 12px;
  /* box-shadow: 0 0 20px rgba(255, 0, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.6); */
  flex: 1;
  /* Takes up remaining space */
  margin-right: 0px;
  /* Adds spacing between header and button */
}


/* Space Neon Glow */

    .neon {
        margin-top: 20px;
        z-index: 10;
        padding-bottom: 10px;
        color: #fff;
        font-size: 4rem;
        width: 100%;
        font-weight: bold;
        -webkit-text-stroke: 1px rgb(111, 1, 104); /* Black Border */
        font-family: 'Orbitron', sans-serif;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #6a0dad,  /* Deep Purple */
            0 0 80px #4b0082,  /* Indigo */
            0 0 100px #ff00ff, /* Pink Glow */
            0 0 150px #9400d3; /* Dark Violet */
    }
    


/* Container for text */

