
#canvasSolarSystemAlignment{
    transform: translateY(-50%) translateX(-22%);
    width:  180%;
}
.homepage-container{
    width: 100%;
    height: 100%;
}
.SolarSystemBackground{
    z-index: -1;
    position: fixed;
    width: 100%;
}
@media(min-width:770px){
    #canvasSolarSystemAlignment{
        transform: translateY(-125%) translateX(7%);
        width:  90%;
    }
    .SolarSystemBackground{
        z-index: -1;
        position: fixed;
        width: 100%;
    }
}
.co1{
    justify-content: center;
    z-index: 10;
    position: relative;
    border: 4px solid rgba(0, 255, 255, 0.5);
    /* Cyan colored boundary with transparency */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black background */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    /* Cyan glowing border effect */
    margin: 20px 0;

}
.name{
    
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.5);
  margin: 0;
  letter-spacing: 3px;
  background: linear-gradient(45deg, #33e7e7);
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.6);
  flex: 1;
  /* Takes up remaining space */
  margin-right: 0px;
  /* Adds spacing between header and button */
}