.button-group {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Aligns vertically */
    gap: 20px;
    /* Adjust spacing between buttons */
    margin: 0 auto;
    /* Ensures the container itself is centered */
    padding: 10px 0;
    margin-top: 90px;
    /* Reduce extra spacing */
    width: fit-content;
    /* Make sure it wraps the buttons */
}

.coreteam {
    margin-right: 10px;
}

.card-container {
    margin-top: 0px;
}