@import url("https://fonts.googleapis.com/css2?family=Anton&family=Sixtyfour+Convergence&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: rgb(10, 33, 97);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: #f0f0f0;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-size: cover;
  background-image: url("/astronaut.png");
  background-position: center;
  background-repeat: no-repeat;
  display: none; /* Initially hidden */
}
.sidebar.show {
  display: flex; /* Show when the class is added */
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
    font-family: "Anton", serif;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
.textcolor {
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem aqua, -0.2rem 0.1rem 1rem aqua,
    0.2rem 0.1rem 1rem aqua, 0 -0.5rem 2rem #ffe6ff, 0 0 0.5rem #ffe6ff;
  animation: shine 2s forwards, blink 3s infinite;
}
.ledFont {
  font-family: "Anton";
}
@keyframes blink {
  0%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem aqua, -0.2rem 0.1rem 1rem aqua,
      0.2rem 0.1rem 1rem aqua, 0 -0.5rem 2rem #ffe6ff, 0 0 3rem #ffe6ff;
  }
  28%,
  33% {
    color: aqua;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ffe6ff;
    text-shadow: none;
  }
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem aqua, -0.2rem 0.1rem 1rem aqua,
      0.2rem 0.1rem 1rem aqua, 0 -0.5rem 2rem #ffe6ff, 0 0 3rem #ffe6ff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  20% {
    opacity: 0.99;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.1;
  }

  39% {
    opacity: 0.1;
  }

  42% {
    opacity: 1;
  }

  56% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  72% {
    opacity: 0.95;
  }

  to {
    opacity: 1;
  }
}
